$color-wet-asphalt: #263238;
$color-wet-asphalt-dark: #1b2327;
$color-link: #9d9d9d;
$color-link-hover: #ffffff;

a {
    color: $color-link;
    
    &:hover,
    &:active,
    &:focus {
        color: $color-link-hover;
    }
}

.navbar-nav {
    padding-top: 27px;
}

.navbar-toggle {
    padding-top: 36px;
    border: none;

    &:hover,
    &:focus {
        background-color: $color-wet-asphalt;
    }
}

.navbar-brand {
    padding-right: 50px;

    &__image {
        float: left;
        margin-right: 15px;
        max-width: 70px;
    }

    &__text {
        padding-top: 18px;
        float: left;        
        font-size: 20px;
        color: white;      
        letter-spacing: 1px;
    }

    &__small-text {
        display: block;
        font-size: 12px;
        letter-spacing: normal;
        color: $color-link;
    }
}

.navbar-inverse {
    height: 101px;    
    border: 0;
    background-color: $color-wet-asphalt-dark;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}
