<div class="page-content">
  <div class="card" style="width: 21rem; margin:0 auto;" >
      
      <img class="card-img-top" 
          style="margin:0 auto;width:100%;height:200px;"
          src="https://static.pexels.com/photos/130111/pexels-photo-130111.jpeg" 
          alt="Preserve your moments" />
          
      <div class="card-block" align="center">
          <h4 class="card-title">Momentz-4-ever</h4>
          <p class="card-text">Preserve your life moments in clouds...forever! </p>
          
          <button class="btn btn-primary"
           (click)="onLoginClick()">
          facebook
          </button>
      </div>
  </div>

  <h1><a (click)="showSuccess()">Click</a></h1>
</div>