<div class="quick-actions">
  <div class="container">
      <div class="quick-actions__social-icons-wrapper">
          <ul class="quick-actions__social-icons">
            <li class="quick-actions__social-icon">
              <a href="#" class="quick-actions__social-icon-link fa fa-facebook"></a>
            </li>
            <li class="quick-actions__social-icon">
              <a href="#" class="quick-actions__social-icon-link fa fa-twitter"></a>
            </li>
          </ul>
      </div>
  </div>
</div>